* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: calc(1.6rem + 1.2vw);
    text-align: center;
    margin: calc(20px + 1vw) 0;
}

.main {
    border: 2px solid #141414;
    border-radius: 10px;
    width: 75vw;
    max-width: 1000px;
    height: 70vh;
    margin: auto;
    padding: 10px;

    display: flex;
    flex-direction: column;
}

.cover {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 10px;

    position: relative;
}

.computer, .player {
    flex: 1;
    font-size: calc(1.6em + 1.2vw);

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.icon {
    width: max-content;
    margin: 0 auto;
}

.icon-animation {
    animation: 0.2s linear 0s alternate tap;
    animation-iteration-count: 7.3;
}

@keyframes tap {
    from {
        transform: translateY(0);
    }
    to {
        rotate: 45deg;
        transform: translateY(-10);
    }
}

.display {
    margin: 5px;
    padding: 10px;
    font-size: calc(1rem + 0.5vw);
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.selection {
    padding: 8px;
    border: 2px solid #141414;
    border-radius: 5px;
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.selection:hover, .selection:active {
    background-color: #a4a4a4;
}

h2 {
    text-align: center;
    margin: 20px;
    text-decoration: underline;
}

.wins {
    width: 75vw;
    max-width: 800px;
    margin: calc(15px + 1vw) auto;

    display: flex;
    justify-content: space-around;

}

.circle {
    width: calc(1rem + 0.7vw);
    height: calc(1rem + 0.7vw);
    border: 2px solid black;
    border-radius: 50%;
}

.green {
    background-color: green;
}

#end {
    display: none;
    position: absolute;
    z-index: 1;
    top: 30%;
    width: 60%;
    max-width: 400px;
    height: 200px;
    margin: auto;

    font-size: calc(1rem + 1vw);

    background-color: rgba(188, 188, 188, 0.9);
    border: 2px solid #646464;
    border-radius: 6px;
}

.end-animation {
    flex-direction: column;
    animation: pop-up 1s;
}

@keyframes pop-up {
    0% {
        transform: scale(0.5);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.close {
    align-self: flex-end;
    margin: 10px;
    padding: 5px;

    background-color: transparent;
    border: none;
}

#end > p {
    font-size: calc(1rem + 0.5vw);
    font-weight: bold;
    text-align: center;
}

.replay {
    align-self: center;
    margin: auto;
    padding: calc(10px + 0.5vw);

    background-color: #141414;
    color: white;
    border: 2px solid white;
    border-radius: 5px;

    font-size: calc(0.7rem + 0.5vw);
    font-weight: bold;
}

.replay:hover, .replay:active {
    background-color: #646464;
    border-color: #d4d4d4;
    color: #f8f8f8;
    box-shadow: 2px 2px 5px white, -2px -2px 5px white;
}

.retry {
    display: none;
    margin: 20px auto;
    width: calc(150px + 1vw);
    padding: 15px;

    border: 2px solid black;
    border-radius: 5px;
    background-color: gray;

    color: white;
    text-align: center;
    font-size: calc(1rem + 0.6vw);
    font-weight: bold;
}

.retry:hover, .retry:active {
    background-color: #d4d4d4;
    color: #141414;
    border-color: #646464;
    box-shadow: 2px 2px 5px black, -2px -2px 5px black;
}

.retry-animation {
    animation: fade 1s;
}

@keyframes fade {
    0% {
        transform: scale(0.2);
    }
    100% {
        transform: scale(1);
    }
}
