@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 95vh;
    background: radial-gradient(#333, #222 35%, #000 97%);

    font-family: 'satisfy', 'dancing script', serif;
}

h1 {
    width: max-content;
    font-size: calc(1.6rem + 1.2vw);
    color: #fff;
    text-shadow:
        0 0 15px #fff,
        0 0 20px #e60059,
        0 0 25px #e60059,
        0 0 30px #e60059,
        0 0 60px #e60059;

    margin: calc(20px + 1vw) auto;
}

h1:hover {
    cursor: pointer;
}

.main {
    border: 3px solid rgb(211, 58, 99);
    border-radius: 10px;
    box-shadow:
    inset 0 0 8px #a00,
    inset 0 0 15px #f00,
    inset 0 0 8px #ddd,
    0 0 8px  #a00,
    0 0 15px  #f11;

    width: 75vw;
    max-width: 950px;
    height: 70vh;
    margin: auto;
    padding: 10px;

    display: flex;
    flex-direction: column;
}

.cover {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 10px;

    position: relative;
}

.computer, .player {
    flex: 1;
    font-size: calc(1.6em + 1.2vw);
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

h3 {
    color: rgb(221, 236, 255);
    text-shadow:
        0 0 5px rgb(66, 172, 233),
        0 0 10px rgb(66, 172, 233),
        0 0 15px rgb(52, 140, 190),
        0 0 20px rgb(39, 109, 150);
}

.icon {
    color: white;
    text-shadow:
        0 0 3px rgb(202, 202, 202),
        0 0 5px rgb(133, 133, 133);

    margin: 10px auto;
}

.icon-animation {
    animation: 0.2s linear 0s alternate tap;
    animation-iteration-count: 7.3;
}

@keyframes tap {
    from {
        transform: translateY(0);
    }
    to {
        rotate: 45deg;
        transform: translateY(-10);
    }
}

.display {
    margin: 5px;
    padding: 10px;
    font-size: calc(1rem + 0.7vw);
    font-weight: bold;
    color: white;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.selection {
    padding: calc(8px + 1.8vw);
    border: 3px solid #141414;
    border-radius: 5px;
    width: calc(35px + 1.7vw);
    height: calc(35px + 1.7vw);

    display: flex;
    align-items: center;
    justify-content: center;
}

#rock {
    color: #F9CB40;
    border-color: #F9CB40;
    box-shadow:
        inset 0 0 7px #F9CB40,
        0 0 5px #F9CB40;
}

#paper {
    color: #d15074;
    border-color: #d15074;
    box-shadow:
        inset 0 0 7px #d15074,
        0 0 5px #d15074;
}

#scissors {
    color: #9476B0;
    border-color: #9476B0;
    box-shadow:
        inset 0 0 7px #9476B0,
        0 0 5px #9476B0;
}

.selection > i {
    font-size: calc(1rem + 0.7vw);
}

.selection:hover, .selection:active {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.08);
    filter: brightness(150%);
}

h2 {
    color: white;
    text-align: center;
    margin: 20px;
    text-decoration: underline;
}

.display, h2 {
    text-shadow: 0 0 1px white;
}

.wins {
    width: 75vw;
    max-width: 800px;
    margin: calc(15px + 1vw) auto;

    display: flex;
    justify-content: space-around;

}

.circle {
    width: calc(1rem + 0.7vw);
    height: calc(1rem + 0.7vw);
    border: 3px solid #eee;
    border-radius: 50%;
}

.normal {
    box-shadow:
        inset 0 0 7px #9DD9D2,
        0 0 5px #9DD9D2,
        0 0 10px #9DD9D2,
        0 0 15px #9DD9D2;
}

.green {
    border-color: #02eb02;
    background-color: #07ca07;
    box-shadow:
        inset 0 0 7px rgb(10, 68, 10),
        0 0 5px #02eb02,
        0 0 10px #02eb02,
        0 0 15px #02eb02;
}

#end {
    display: none;
    position: absolute;
    z-index: 1;
    top: 30%;
    width: 80%;
    max-width: 400px;
    height: 250px;
    margin: auto;

    font-size: calc(1rem + 1vw);

    background-color: rgba(161, 161, 161, 0.95);
    border: 4px solid #ffffff;
    border-radius: 10px;

    box-shadow:
        inset 0 0 7px #fff,
        0 0 5px #fff,
        0 0 10px #fff;
}

.end-animation {
    flex-direction: column;
    animation: pop-up 1s;
}

@keyframes pop-up {
    0% {
        transform: scale(0.5);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.close {
    align-self: flex-end;
    margin: 10px;
    padding: 5px;

    background-color: transparent;
    border: none;
}

#end > button {
    font-size: calc(0.8rem + 0.5vw);
    font-weight: bold;
}

#end > button:hover {
    cursor: pointer;
}

#end > p {
    margin-top: 20px;
    font-size: calc(1rem + 0.6vw);
    font-weight: bold;
    text-align: center;
}

.replay {
    align-self: center;
    margin: auto;
    padding: calc(10px + 0.5vw);

    background-color: #141414;
    color: rgb(238, 235, 235);
    border: 3px solid white;
    border-radius: 5px;

    font-size: calc(0.7rem + 0.5vw);
    font-weight: bold;
    font-family: 'satisfy', serif !important;
}

.replay:hover, .replay:active {
    cursor: pointer;
    filter: brightness(150%);
    border-color: #d4d4d4;
    color: #f8f8f8;
    box-shadow: 0 0 5px 3px white;
}

.retry {
    display: none;
    margin: 20px auto;
    width: calc(150px + 1vw);
    padding: 15px;

    border: 3px solid rgb(126, 126, 126);
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    box-shadow:
        inset 0 0 5px #000,
        inset 0 0 10px #fff,
        0 0 5px #000,
        0 0 10px #000,
        0 0 15px #000,
        0 0 15px #fff;

    text-align: center;
    font-size: calc(1rem + 0.6vw);
    font-weight: bold;
}

.retry:hover, .retry:active {
    cursor: pointer;
    background-color: #e4e4e4;
    color: #141414;
    border-color: #272727;
    box-shadow:
        inset 0 0 15px #000,
        0 0 5px 3px rgb(46, 46, 46),
        0 0 15px 5px rgb(211, 211, 211);
}

.retry-animation {
    animation: fade 1s;
}

@keyframes fade {
    0% {
        transform: scale(0.2);
    }
    100% {
        transform: scale(1);
    }
}

.win {
    color: rgb(242, 250, 240);
    text-shadow:
        0 0 5px rgb(45, 207, 13),
        0 0 8px rgb(45, 207, 13),
        0 0 10px rgb(45, 207, 13);
}

.lose {
    color: rgb(248, 223, 223);
    text-shadow:
        0 0 5px rgb(236, 31, 31),
        0 0 8px rgb(236, 31, 31),
        0 0 10px rgb(236, 31, 31);
}

.draw {
    color: rgb(243, 224, 210);
    text-shadow:
        0 0 5px rgb(228, 118, 28),
        0 0 8px rgb(228, 118, 28),
        0 0 10px rgb(228, 118, 28);
}


@media screen and (min-width: 951px) {
    .cover {
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }

    .main {
        height: calc(50vh + 5vw);
    }

    h2 {
        margin-top: 30px;
    }

    .display {
        text-align: center;
        flex-basis: 170px;
    }

    #end > p {
        margin-top: 0;
    }
}
